target/
build/
.gradle/
*.class
*.jar
*.war
.idea/
*.iml
.vscode/
.DS_Store
.env
application-local.properties

# Ensure Maven Wrapper files are tracked
!mvnw
!mvnw.cmd
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
